<div class="container">
	<div class="row">
		<div class="col-md-4">
			<mat-card class="margin full-width default-box-shadow">
				<div class="row align-items-center">
					<div class="col-md-12 justify-content-center">
						<img [src]="user.avatar_url" class="avatar-img">
					</div>
				</div>
				<div class="row align-items-center">
					<div class="col-md-12 justify-content-md-center">
						<div class="row">
							<div class="col-md-12">
								Nome: {{user.name}}
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								E-mail: {{user.email}}
							</div>
						</div>
					</div>
				</div>
			</mat-card>
			<div class="row align-items-center">
				<div class="col-md-6">
					<button (click)="getRepos(setContextViewLike.repos)" class="btn btn-primary margin full-width">Repos</button>
				</div>
				<div class="col-md-6">
					<button (click)="getRepos(setContextViewLike.starred)" class="btn btn-primary margin full-width">Starred
						repos</button>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<table mat-table [dataSource]="repos" class="margin full-width default-box-shadow	">
				<!-- Position Column class="mat-column-name"-->
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Nome </th>
					<td mat-cell *matCellDef="let element"> {{element.name}} </td>
				</ng-container>

				<!-- Name Column class="mat-column-owner"-->
				<ng-container matColumnDef="owner">
					<th mat-header-cell *matHeaderCellDef> Proprietário </th>
					<td mat-cell *matCellDef="let element"> {{element.owner}} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="columnsName"></tr>
				<tr mat-row *matRowDef="let row; columns: columnsName;"></tr>
			</table>
		</div>
	</div>
</div>