/* You can add global styles to this file, and also import other style files */
$font-path: "../assets/fonts";

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --snack-bar-bg-color: rgba(255, 96, 96, 0.829);

  // Apagar
  --default-transition-time: 0.8s;
  --default-blue-color: #00b5e2;
  --secondary-blue-color: #005e98;
  --default-red-color: #d0021b;
  --selected-backgroun-color: rgb(238, 237, 237);
  --divider-item-section-color: rgb(228, 228, 228);
  --subtitle-color: #555555;
  --questins-color: #292929;
  --p-subtitle-color: #757575;
  --line-divisor-color: rgba(65, 68, 85, 0.226);
  --grey-border-color: rgba(120, 124, 131, 0.65);
  --snack-bar-blue-color: #00b5e2b9;
  --modal-bg-color: #f4f4f4;
  --beneficiary-data-color: #b1b1b1;
  --range-green-color: #78be20;
}

// Definições padrão
.full-width {
  width: 100% !important;
}

.no-padding {
  padding: 0 !important;
}
.padding {
  padding: 1rem !important;
}
.padding-left {
  padding-left: 1rem !important;
}
.padding-bottom {
  padding-bottom: 1rem !important;
}
.padding-top {
  padding-top: 1rem !important;
}
.padding-right {
  padding-right: 1rem !important;
}

.no-margin {
  margin: 0 !important;
}
.margin {
  margin: 1rem !important;
}
.margin-left {
  margin-left: 1rem !important;
}
.margin-bottom {
  margin-bottom: 1rem !important;
}
.margin-top {
  margin-top: 1rem !important;
}
.margin-right {
  margin-right: 1rem !important;
}

// Layout snacbar
.error-snack-bar {
  background-color: var(--snack-bar-bg-color);
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
}
.info-snack-bar {
  background-color: var(--snack-bar-blue-color);
  color: var(--questins-color);
  font-size: 0.8rem;
  font-weight: 200;
}

// Avatar
.avatar-img {
  width: 100%;
  max-width: 10rem;
  border-radius: 0.2rem;
}

.default-box-shadow {
  box-shadow: 0 0 1em rgba(78, 82, 103, 0.3) !important;
}